@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PS 1 CRUD Application</h1>
    <p>Learn about This is a Chairty Management Application useful for Donors and NGOs.</p>
</div>
 